@model WebListaEsperaMentoriaIdentity.Models.ProfissionalModel

@{
    ViewData["Title"] = "Apagar profissional";
}

<h4>@ViewData["Title"]</h4>

<h3>Tem certeza que deseja apagar @Model.Nome ?</h3>
<div>
    <h4>ProfissionalModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">VOLTAR</a>
    </form>
</div>
