@using WebListaEsperaMentoriaIdentity.ViewModels
@model ListaPacientesCadaProfissionalViewModel
@{
    ViewData["Title"] = "Index";
}

<h4>Pacientes Cadastrados do "nomedoprofissional"</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Observacao)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPacientesCadaProfissional)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>  |
                    <a asp-action="DeleteConfirmed" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }

      
    </tbody>
</table>
