@using WebListaEsperaMentoriaIdentity.ViewModels
@model ListaPacientesCadaProfissionalViewModel
@{
    ViewData["Title"] = $"PACIENTES CADASTRADOS PARA O MEDICO";
}

<h5>@ViewData["Title"]</h5>
<hr />
<table class="table" id="table-profissionaisPacientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Observacao)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPacientesCadaProfissional)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="telefone">
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                @if (item.Status == WebListaEsperaMentoriaIdentity.Enums.StatusEnum.Prioridade)
                {
                    <td class="text-danger">

                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    
                    <a asp-controller="Paciente" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

                    <a asp-controller="Paciente" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>

        }

      
    </tbody>
</table>
