@using WebListaEsperaMentoriaIdentity.Enums
@using WebListaEsperaMentoriaIdentity.ViewModels
@model ListaEsperaViewModel


@{
    if (TempData["ErroCadastro"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["ErroCadastro"]
        </div>
    }
    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
}

<div class="container">

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCreate" aria-controls="offcanvasExample">
        Cadastrar novo paciente
    </button>
    <br />
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCreate" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>

        </div>
        <div class="offcanvas-body">
            <div>
                <h5>CADASTRAR PACIENTES</h5>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form asp-controller="Paciente" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Observacao" class="control-label"></label>
                                <input asp-for="Observacao" class="form-control" />
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-control">
                                    <option value="">Selecione</option>
                                    <option value="@StatusEnum.Prioridade">Prioridade</option>
                                    <option value="@StatusEnum.Normal">Normal</option>
                                    @* <option value="@StatusEnum.Finalizado">Finalizado</option>
                                    <option value="@StatusEnum.Inativo">Inativo</option> *@
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Profissional" class="control-label"></label>
                                <select asp-for="ProfissionalId" class="form-control" asp-items="ViewBag.ProfissionalId"></select>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <br />
                <div class="row" >
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProfissionaisPacienteListaEspera)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Profissional" asp-action="ListaPacientesProfissional" asp-route-id="@item.ProfissionalId">@item.NomeProfissional</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QtdePacienteListaEspera)
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
       
    }

}




