@using WebListaEsperaMentoriaIdentity.ViewModels
@model PacienteViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Lista de espera</h3>
@{
    if (TempData["NaoHaPacientesCadastrados"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["NaoHaPacientesCadastrados"]
        </div>
    }

    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
}


<div class="container">
   
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Cadastrar novo paciente
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
            @* <button type="button" class="btn-close text-reset" data-bs-dismiss="" aria-label="Close"></button> *@
        </div>
        <div class="offcanvas-body">
            <div>
                <Partial name="_CreatePartial" />
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pacientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

                    <a asp-action="DeleteConfirmed" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>










