@using WebListaEsperaMentoriaIdentity.ViewModels
@model PacienteViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="navbar-text text-center"><h3>Lista de espera</h3></div>

@{
    if (TempData["NaoHaPacientesCadastrados"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["NaoHaPacientesCadastrados"]
        </div>
    }

    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-primary" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
}

<partial name="_CreatePartial" />



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profissional)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pacientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profissional.Nome)
                </td>
                <td>
                  
                   
                    @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="@Url.Action($"Edit/{item.Id}")">
                       Editar
                    </button> *@
                   @*  @await Html.PartialAsync("_EditPartial") *@
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>  |
                    <a asp-action="DeleteConfirmed" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
        
        @* <partial name="_EditPartial" /> *@
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}











